.about {
  padding: 42px 30px;

  @media (min-width: @tablet) {
    width: 668px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media (min-width: @tablet) {
    width: 700px;
  }

  .about__title {
    margin-bottom: 5px;

    .title();
  }
}
