.article-list {
  .ls-none();
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  padding-bottom: 0;

  @media (min-width: @tablet) {
    width: 668px;
    margin: auto;
    flex-direction: column;
    padding-top: 81px;
  }

  @media (min-width: @desktop) {
    width: 1050px;
    flex-direction: row;
    padding-top: 131px;
  }
}

.article-list__item:last-child {
  @media (min-width: @desktop) {
    margin-bottom: 57px;
  }
}

.article-list__item {
  margin-bottom: 31px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 57px;
    margin-right: 52px;
    width: 315px;
  }
}

.article-list__item:nth-child(3n) {
  @media (min-width: @desktop) {
    margin-right: 0;
  }
}
