.btn {
  display: block;
  width: 259px;
  min-height: 52px;
  background-color: @white;
  border: 2px solid @tundora;
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: @b-box;
  .btn();
}

.btn--green {
  background-color: @downy;
  color: @white;
  border: none;
}
