.contacts {
  @media (min-width: @desktop) {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1050px;
    margin: 0 auto;
  }
}

.contacts__title {
  margin: 0;
  margin-top: 40px;

  .contacts-title();

  @media (min-width: @tablet) {
    margin: 0 auto;
    width: 668px;
  }

  @media (min-width: @desktop) {
    width: 400px;
    margin-left: 150px;
  }
}

.contacts__info {
  padding: 30px;

  @media (min-width: @tablet) {
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    width: 400px;
    margin-left: 150px;
  }
}

.contacts__table {
  margin-top: 26px;
  border-collapse: collapse;
  font-style: normal;
  line-height: 30px;

  .product-properties();

  .contacts__email {
    width: 74px;
    height: 30px;
  }

  .contacts__body {
    @media (min-width: @tablet) {
      display: flex;
    }

    @media (min-width: @desktop) {
      flex-wrap: wrap;
    }
  }

  .contacts__email-address {
    border-bottom: 1px solid @green;
  }

  .contacts__address {
    vertical-align: baseline;
    width: 74px;
  }

  .contacts__ph-address {
    height: 126px;
    vertical-align: baseline;
  }
}

.contacts__row {
  @media (min-width: @tablet) {
    width: 334px;
  }
}

.contacts__map {
  @media (min-width: @desktop) {
    position: absolute;
    top: 0;
    right: 10%;
  }
}

.contacts__map--map {
  @media (min-width: @tablet) {
    width: 768px;
    height: 458px;
  }

  @media (min-width: @desktop) {
    width: 350px;
    height: 350px;
  }
}

.contacts__btn {
  margin-top: 35px;

  @media (min-width: @desktop) {
    margin-left: 150px;
  }
}
