.footer {
  @media (min-width: 320px) {
    width: 100%;
    background-color: @grey--light;
  }
}

.footer--form {
  margin-top: 25px;
}

.footer__wrap {
  width: 320px;
  margin: 0 auto;
  margin-top: 27px;

  @media (min-width: @tablet) {
    width: 668px;
    align-items: center;
    justify-content: space-evenly;
    min-height: 145px;
    display: flex;
    margin-top: 33px;
  }

  @media (min-width: @desktop) {
    width: 1050px;
    justify-content: space-evenly;
  }
}

.footer__link {
  display: none;

  @media (min-width: @tablet) {
    display: block;
    width: 33%;
  }

  @media (min-width: @desktop) {
    width: 39%;
  }
}
