.footer {
  width: 320px;
  margin: 0 auto;
  background-color: @grey--light;
  margin-top: 38px;

  .footer__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .ls-none();
    padding: 25px 45px 27px 45px;
    background-color: inherit;
  }
}
