.header {
  margin: 0 auto;
  width: 320px;
  background-color: @white;
  box-sizing: @b-box;
  position: relative;

  .header__logo {
    display: block;
    margin: auto;
    min-height: 79px;
    width: 200px;
    text-align: center;
    padding-top: 22px;
    box-sizing: @b-box;
  }

  .header__toggle {
    display: block;
    position: absolute;
    top: 32px;
    left: 268px;
    border: none;
    background-color: transparent;
  }
}
