.main-nav {
  display: none;

  @media (min-width: @tablet) {
    display: block;
    order: 2;
    width: 64%;
  }

  @media (min-width: @desktop) {
    order: 0;
    background-color: transparent;
    width: auto;
  }
}

.main-nav--nojs {
  display: block;
}

.main-nav--active {
  display: block;
}
