.main-nav {
  display: block;
  width: 320px;

  .site-list {
    .ls-none();
  }
}

.site-list__item {
  padding: 27px 20px 27px 80px;
  box-sizing: border-box;
  min-height: 79px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  a {
    text-decoration: none;
    color: @black;
  }
}
