.media {
  border: 1px solid @grey--light;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet) {
    margin: 0 auto;
    width: 87%;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop) {
    width: 1050px;
    flex-wrap: wrap;
    min-height: 455px;
  }
}

.media__title {
  .review-cust();
  padding: 23px 26px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;

  @media (min-width: @tablet) {
    order: 2;
    margin: auto auto 29px;
    padding: 0;
    width: 89%;
  }

  @media (min-width: @desktop) {
    margin: 43px auto 31px 758px;
    width: 200px;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.media__text {
  font-size: 17px;
  line-height: 24px;
  color: @black;
  width: 70%;

  @media (min-width: @tablet) {
    font-size: 20px;
  }

  @media (min-width: @desktop) {
    width: 100%;
  }
}

.media__media {
  margin-bottom: 24px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    margin-bottom: 33px;
    order: 1;
  }

  @media (min-width: @desktop) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.media__media-content {
  position: relative;
  width: 100%;
  height: auto;
  background-color: @grey--light;

  @media (min-width: @tablet) {
    height: auto;
  }

  @media (min-width: @desktop) {
    width: 681px;
  }
}

.media__play {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 56px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.media__wrap {
  @media (min-width: @tablet) {
    order: 3;
  }

  @media (min-width: @desktop) {
    margin-left: 720px;
  }
}

.media__desc {
  margin: 0;
  margin-bottom: 24px;
  padding-left: 34px;
  padding-right: 40px;

  .p-desc();

  @media (min-width: @tablet) {
    width: 88%;
    font-size: 15px;
    line-height: 30px;
    padding-left: 39px;
    margin: 0 auto 35px;
  }

  @media (min-width: @desktop) {
    width: 230px;
    margin-bottom: 47px;
    margin-left: 0;
  }
}

.media__btn {
  width: 75%;
  margin-bottom: 33px;

  @media (min-width: @tablet) {
    width: 88%;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop) {
    width: 230px;
    margin-left: 41px;
  }
}


.media:hover {
  box-shadow: 0 6px 10px 0 @black--shadow;
}

.media__play:hover,
.media__play:focus {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.media__play:active {
  transform: scale(0.8);
  opacity: 0.3;
}

.media__icon {
  display: block;
  margin-right: 27px;
  fill: @green;

  @media (min-width: @tablet) {
    margin-right: 35px;
  }

  @media (min-width: @desktop) {
    margin-right: 0;
  }
}

.media__play-icon {
  width: 100px;
  height: 78px;
}
