.media {
  border: 1px solid @grey--light;
  box-sizing: border-box;
}

.media__title {
  .review-cust();
  margin: 29px 41px 26px 91px;
  width: 130px;
}

.media__media {
  margin-bottom: 34px;
  position: relative;
  box-sizing: border-box;
}

.media__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

.media__desc {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 34px;
  padding-right: 43px;
  width: 183px;

  .p-desc();
}

.media__btn {
  width: 192px;
  margin: 0 34px 33px 34px;
}
