.media {
  border: 1px solid @grey--light;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    margin: 0 auto;
    width: 668px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop) {
    width: 1050px;
    flex-wrap: wrap;
    position: relative;
  }
}

.media__title {
  .review-cust();
  margin: 29px 41px 26px 91px;
  width: 130px;

  @media (min-width: @tablet) {
    order: 2;
    width: 90%;
    margin: auto;
  }

  @media (min-width: @desktop) {
    margin: 0;
    margin-left: auto;
    width: 230px;
  }
}

.media__media {
  margin-bottom: 34px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    order: 1;
  }

  @media (min-width: @desktop) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.media__media-content {
  position: relative;
}

.media__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

.media__wrap {
  @media (min-width: @tablet) {
    order: 3;
  }

  @media (min-width: @desktop) {
    margin-left: auto;
  }
}

.media__desc {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 34px;
  padding-right: 43px;
  width: 183px;

  .p-desc();

  @media (min-width: @tablet) {
    width: 90%;
  }

  @media (min-width: @desktop) {
    width: 230px;
  }
}

.media__btn {
  width: 192px;
  margin: 0 34px 33px 34px;

  @media (min-width: @tablet) {
    width: 90%;
  }

  @media (min-width: @desktop) {
    width: 230px;
  }
}
