.order {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: @black;
  text-align: left;
  padding: 30px;
  padding-top: 13px;

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.order__field {
  margin: 0;
  padding: 0;
  border: none;
}

.order__input--radio,
.order__input--checkbox {
  visibility: hidden;
}

.order__legend {
  color: @green;
  text-transform: uppercase;
}

.order__label {
  display: block;
}

.order__label--name {
  @media (min-width: @tablet) {
    margin-right: 25px;
  }
}

.order__field--type {
  min-height: 170px;
}

.order__list {
  .ls-none();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 62px;
  padding-top: 14px;

  @media (min-width: @tablet) {
    margin-left: auto;
    width: 75%;
    padding-left: 0;
  }

  @media (min-width: @desktop) {
    margin-right: 177px;
    width: 700px;
  }
}

.order__list--color {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.order__list--contacts {
  @media (min-width: @tablet) {
    width: 100%;
    margin: 0;
  }

  @media (min-width: @desktop) {
    width: 100%;
    margin: 0;
  }
}

.order__row--color,
.order__row--type {
  min-height: 61px;

  @media (min-width: @tablet) {
    width: 50%;
    padding-left: 60px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    width: 30%;
  }
}

.order__row--type {
  @media (min-width: @tablet) {
    width: 60%;
  }
}

.order__row--name {
  @media (min-width: @tablet) {
    display: flex;
    align-items: baseline;
  }
}

.order__row--contacts {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop) {
    display: block;
  }
}

.order__row--bg {
  @media (min-width: @tablet) {
    background-color: @grey--light;
  }
}

.order__row--text {
  @media (min-width: @tablet) {
    // flex-direction: column;
    flex-wrap: wrap;
  }
}

.order__field--color {
  @media (min-width: @tablet) {
    background-color: @grey--light;
  }
}

.order__field--name {
  .order__legend {
    padding-top: 19px;
  }

  .order__list {
    padding-top: 27px;
    padding-left: 0;
  }

  .order__row {
    min-height: 92px;
  }
}

.order__input--wide {
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 2px solid @black;
}

.order__input--text {
  margin-top: 18px;
  min-height: 118px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 10px;

  @media (min-width: @tablet) {
    margin-left: auto;
    order: 2;
  }
}

.order__input--contacts {
  @media (min-width: @tablet) {
    width: 75%;
    background-color: transparent;
  }

  @media (min-width: @desktop) {
    width: 700px;
    display: inline-block;
    margin-right: 176px;
  }
}

.order__field--contacts {
  .order__list {
    padding: 0;
    padding-top: 9px;
  }

  .order__legend {
    display: block;
    margin-bottom: 7px;
  }

  .order__legend--text {
    @media (min-width: @tablet) {
      order: 1;
      margin-right: auto;
    }
  }

  .order__legend--inline {
    @media (min-width: @tablet) {
      display: inline-block;
    }
  }

  .order__row {
    min-height: 107px;
  }
}

.order__text-wrap {
  @media (min-width: @tablet) {
    width: 86%;
    order: 3;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
  }

  @media (min-width: @desktop) {
    width: 700px;
  }
}

.order__info {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: @grey-text;
  text-align: left;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 30px;

  @media (min-width: @tablet) {
    order: 2;
  }
}

.order__submit {
  @media (min-width: @tablet) {
    margin-left: 0;
    order: 1;
  }
}

.order__contacts--wrap {
  @media (min-width: @tablet) {
    display: flex;
    width: 86%;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (min-width: @desktop) {
    width: 1050px;
  }
}

.order__field-wrapper {
  @media (min-width: @tablet) {
    display: flex;
    width: 86%;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    width: 1050px;
  }
}
