.order {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: @black;
  text-align: left;
  padding: 13px 30px 16px;
  margin-bottom: 38px;

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 19px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 48px;
  }
}

.order__field {
  margin: 0;
  padding: 0;
  border: none;
}

.order__input--radio,
.order__input--checkbox {
  opacity: 0;
}

.order__legend {
  color: @green;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 16px;
  }

  @media (min-width: @desktop) {
    padding: 16px 10px 10px 62px;
  }
}

.order__legend--type {
  @media (min-width: @tablet) {
    padding-top: 63px;
  }

  @media (min-width: @desktop) {
    padding-top: 64px;
    padding-left: 64px;
  }
}

.order__legend--color {
  @media (min-width: @tablet) {
    padding-top: 33px;
  }

  @media (min-width: @desktop) {
    padding-top: 33px;
    padding-left: 60px;
  }
}

.order__label {
  display: block;
}

.order__label--name {
  @media (min-width: @tablet) {
    margin-right: 25px;
  }
}

.order__field--type {
  min-height: 170px;
}

.order__list {
  .ls-none();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 62px;
  padding-top: 14px;

  @media (min-width: @tablet) {
    margin-left: auto;
    width: 75%;
    padding-left: 0;
  }

  @media (min-width: @desktop) {
    margin-right: 177px;
    width: 700px;
  }
}

.order__list--color {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (min-width: @desktop) {
    width: 872px;
    margin-right: 0;
  }
}

.order__list--contacts {
  @media (min-width: @tablet) {
    width: 100%;
    margin: 0;
    padding-top: 9px;
  }

  @media (min-width: @desktop) {
    width: 100%;
    margin: 0;
  }
}

.order__list--type {
  @media (min-width: @tablet) {
    padding-top: 44px;
    padding-bottom: 30px;
  }
}

.order__row--color,
.order__row--type {
  min-height: 61px;

  @media (min-width: @tablet) {
    width: 50%;
    padding-left: 79px;
    box-sizing: border-box;
    min-height: 75px;
  }

  @media (min-width: @desktop) {
    width: 30%;
  }
}

.order__row--color:nth-child(even) {
  @media (min-width: @tablet) and (max-width: 1149px) {
    padding-left: 93px;
  }
}

.order__row--type {
  @media (min-width: @tablet) {
    width: 67%;
  }
}

.order__row--contacts {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop) {
    display: block;
  }
}

.order__row--bg {
  @media (min-width: @tablet) {
    background-color: @grey--light;
  }
}

.order__row--text {
  @media (min-width: @tablet) {
    // flex-direction: column;
    flex-wrap: wrap;
  }
}

.order__field--color {
  @media (min-width: @tablet) {
    background-color: @grey--light;
    padding-top: 34px;
    padding-bottom: 31px;
  }
}

.order__field--name {
  padding-top: 19px;

  @media (min-width: @tablet) {
    padding-bottom: 15px;
  }
}

.order__legend--name {
  padding-top: 19px;

  @media (min-width: @tablet) {
    padding-top: 47px;
  }

  @media (min-width: @desktop) {
    padding-left: 61px;
    padding-top: 46px;
  }
}

.order__list--name {
  padding-top: 27px;
  padding-left: 0;

  @media (min-width: @tablet) {
    padding-top: 16px;
    padding-bottom: 14px;
  }
}

.order__row--name {
  min-height: 92px;

  @media (min-width: @tablet) {
    min-height: 77px;
    display: flex;
    align-items: center;
  }
}

.order__input--wide {
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 2px solid @black;

  @media (min-width: @tablet) {
    padding-left: 15px;
  }
}

.order__input--text {
  margin-top: 18px;
  min-height: 141px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 10px;

  @media (min-width: @tablet) {
    margin-left: auto;
    order: 2;
  }
}

.order__input--contacts {
  @media (min-width: @tablet) {
    width: 75%;
    background-color: transparent;
  }

  @media (min-width: @desktop) {
    width: 700px;
    display: inline-block;
    margin-right: 176px;
  }
}

.order__input--connection {
  @media (min-width: @tablet) {
    width: 98%;
    background-color: transparent;
    padding-left: 15px;
  }
}

.order__field--contacts {
  .order__list {
    padding: 0;
    padding-top: 9px;
  }

  .order__legend {
    display: block;
    margin-bottom: 7px;
  }

  .order__legend--text {
    @media (min-width: @tablet) {
      order: 1;
      margin-right: auto;
    }

    @media (min-width: @desktop) {
      padding-top: 34px;
    }
  }

  .order__legend--inline {
    @media (min-width: @tablet) {
      display: inline-block;
      width: 104px;
    }
  }

  .order__row {
    min-height: 107px;
  }
}

.order__text-wrap {
  @media (min-width: @tablet) {
    width: 87%;
    order: 3;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
  }

  @media (min-width: @desktop) {
    width: 700px;
    margin-top: 35px;
  }
}

.order__info {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: @grey--text;
  text-align: left;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 30px;

  @media (min-width: @tablet) {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    padding-top: 9px;
    margin: 0;
    width: 302px;
  }
}

.order__submit {
  @media (min-width: @tablet) {
    margin-left: 0;
    order: 1;
    width: 230px;
  }
}

.order__contacts--wrap {
  @media (min-width: @tablet) {
    display: flex;
    width: 86%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop) {
    width: 1050px;
  }
}

.order__field-wrapper {
  @media (min-width: @tablet) {
    display: flex;
    width: 86%;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    width: 1050px;
  }
}

.order__contacts--tel {
  position: relative;

  @media (min-width: @tablet) {
    padding-top: 50px;
  }
}

.order__contacts--mail {
  position: relative;

  @media (min-width: @tablet) {
    padding-top: 19px;
    padding-bottom: 50px;
  }
}

.order__contacts--text {
  @media (min-width: @tablet) {
    padding-top: 32px;
    padding-bottom: 14px;
    align-items: baseline;
  }
}

.order__input:hover,
.order__input:focus {
  border-bottom-color: @green--dark-hover;
}

.order__input--text:hover,
.order__input--text:focus {
  border-color: @green--dark-hover;
}

.order__label--radio,
.order__label--checkbox {
  position: relative;
}

.order__label--checkbox::before {
  content: "";
  position: absolute;

  @media (max-width: @mobile-width-only) {
    width: 36px;
    height: 36px;
    left: -62px;
    top: -9px;
  }
  left: -81px;
  top: -18px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.order__input--checkbox:checked + .order__label--checkbox::after {
  content: "";
  position: absolute;

  @media (max-width: @mobile-width-only) {
    width: 19px;
    height: 8px;
    top: 4px;
    left: -52px;
  }
  left: -69px;
  top: -4px;
  width: 28px;
  height: 15px;
  border: 2px solid @green--dark;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
}

.order__label--radio::before {
  content: "";
  position: absolute;

  @media (max-width: @mobile-width-only) {
    left: -62px;
    top: -10px;
    width: 36px;
    height: 36px;
  }
  left: -79px;
  top: -17px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
}

.order__input--radio:checked + .order__label--radio::after {
  content: "";
  position: absolute;

  @media (max-width: @mobile-width-only) {
    width: 16px;
    height: 16px;
    left: -50px;
    top: 2px;
  }
  left: -62px;
  top: -1px;
  display: block;
  width: 21px;
  height: 21px;
  background-color: @green--dark;
  border-radius: 50%;
}

.order__icon--tel {
  opacity: 0.2;
  position: absolute;
  top: 32px;
  right: 9px;
  width: 23px;
  height: 29px;

  @media (min-width: @tablet) {
    top: 8px;
    right: 23px;
  }

  @media (min-width: @desktop) {
    top: 7px;
    right: 8px;
  }
}

.order__icon--mail {
  opacity: 0.2;
  position: absolute;
  top: 36px;
  right: 5px;
  width: 31px;
  height: 29px;

  @media (min-width: @tablet) {
    top: 12px;
    right: 19px;
  }

  @media (min-width: @desktop) {
    top: 10px;
    right: 4px;
  }
}

.order__input-container {
  @media (min-width: @tablet) {
    width: 75%;
    position: relative;
  }

  @media (min-width: @desktop) {
    width: 700px;
    display: inline-block;
    margin-right: 176px;
  }
}

.order__input:hover + .order__icon--tel,
.order__input:hover + .order__icon--mail,
.order__input:focus + .order__icon--tel,
.order__input:focus + .order__icon--mail {
  fill: @green--dark;
  opacity: 1;
}

.order__icon--tel,
.order__icon--mail {
  opacity: 0.2;
}

.order__label--checkbox:hover::before,
.order__label--radio:hover::before {
  border-color: @green--dark;
}

.order__label--checkbox:active::before,
.order__label--radio:active::before {
  border-color: @grey--text;
  opacity: 0.3;
}

.order__row input[type="radio"]:focus + label::before,
.order__row input[type="checkbox"]:focus + label::before {
  outline: @black 1px solid;
  outline-offset: 5px;
}
