.page-desc {
  margin: 0;
  padding: 23px 48px 10px 30px;

  .p-desc();

  @media (min-width: @tablet) {
    width: 87%;
    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
    padding-top: 75px;
    padding-left: 48px;
  }

  @media (min-width: @desktop) {
    width: 700px;
    padding-top: 125px;
  }
}
