.page-title {
  width: 320px;
  min-height: 283px;
  margin: 0 auto;
  box-sizing: border-box;

  .page-title__title {
    width: 250px;
    margin: 0;
    text-align: center;
    .p-title();
  }
}

.page-title--bg {
  padding: 76px 38px;
  padding-bottom: 40px;
  background-color: lighten(@green, 30%);
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -15px;
  background-repeat: no-repeat;
}

.page-title--grey {
  background-color: @grey--light;
  min-height: 177px;
  padding: 76px 35px 40px 35px;
}
