.popup {
  display: block;
  width: @mobile-width;
  margin: 0 auto;
  padding: 30px 30px 46px 30px;
  background-color: @white;
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;

  @media (min-width: @tablet) {
    min-width: 566px;
    min-height: 336px;
  }
}

.popup__field {
  border: none;
  padding: 0;
  margin: 0;
}

.popup__legend {
  margin-bottom: 11px;

  .product-properties();

  text-align: center;
}

.popup__title {
  margin: 0 auto;
  margin-bottom: 19px;
  width: 260px;
  text-transform: uppercase;

  .title();

  text-align: center;
}

.popup__list {
  display: flex;
  justify-content: space-between;

  .ls-none();

  margin-bottom: 31px;

  @media (min-width: @tablet) {
    width: 350px;
    margin: 0 auto 31px;
  }
}

.popup__label {
  padding-top: 15px;
  box-sizing: border-box;
  display: block;
  width: 82px;
  height: 52px;
  border: 2px solid @popup-grey;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: @grey-text;
  text-align: center;

  @media (min-width: @tablet) {
    width: 112px;
  }
}

.popup__input--checkbox {
  opacity: 0;
}

.popup__input--checkbox:hover + label {
  border-color: rgba(68, 68, 68, 0.3);
}

.popup__input--checkbox:checked + label {
  border-color: @green--dark;
}

.popup_hide {
  display: none;
}

.popup-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
  top: 0;

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
