.product-card {
  @media (min-width: @mobile-width) {
    min-height: 373px;
  }

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: row;
    min-height: 334px;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
    width: 315px;
    min-height: 660px;
  }

  .product-card__link {
    min-width: 50%;
    min-height: 195px;
    background-color: @grey--light;
  }
}

.product-card__item-logo {
  display: block;
  width: 100%;

  @media (min-width: @tablet) {
    width: 100%;
    min-height: 334px;
  }

  @media (min-width: @desktop) {
    width: 316px;
    min-height: 462px;
  }
}

.product-card__content-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 27px;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid @grey--light;

  @media (min-width: @tablet) {
    width: 335px;
    margin: 0;
    flex-grow: 1;
  }

  @media (min-width: @desktop) {
    width: 315px;
  }
}

.product-card__content-link {
  text-decoration: none;
  color: @black;
}

.product-card__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  text-align: left;
  line-height: 30px;

  @media (min-width: @tablet) {
    font-size: 15px;
    margin-bottom: auto;
  }
}

.product-card__price {
  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 24px;
    padding-left: 5px;
  }

  @media (min-width: @desktop) {
    padding-left: 0;
  }
}

.product-card__inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;

  @media (min-width: @desktop) {
    margin-top: auto;
  }
}

.product-card__button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  @media (min-width: @tablet) {
    padding: 0 6px;
  }
}

.product-card__button path {
  fill: rgba(35, 31, 32, 0.2);
}

.product-card:hover .product-card__content-wrap {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product-card:hover .product-card__content-wrap:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product-card__content-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.product-card__content-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-card__button:hover path {
  fill: @green;
}

.product-card__button:active path {
  fill: rgba(99, 209, 187, 0.3);
}
