.product-card {
  width: 260px;
  height: 373px;

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
    width: 315px;
  }

  .product-card__link {
    display: contents;
    min-width: 260px;
    min-height: 195px;
    background-color: @grey--light;
  }
}

.product-card__item-logo {
  display: inline-block;
}

.product-card__content-wrap {
  width: 260px;
  padding: 28px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.product-card__content-link {
  text-decoration: none;
  color: @black;
}

.product-card__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}

.product-card__desc {
  margin-top: 0;
  margin-bottom: 44px;
  font-size: 13px;
  text-align: left;
  line-height: 30px;
}

.product-card__button {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 25px;
  right: 20px;
}
