.product {
  background-color: @white;

  @media (min-width: @tablet) {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop) {
    width: 1050px;
  }
}

.product-wrap {
  @media (min-width: @tablet) {
    width: 334px;
    position: relative;
  }

  @media (min-width: @desktop) {
    min-width: 320px;
    min-height: 525px;
    order: 3;
    margin-left: 160px;
  }
}

.product__title {
  margin: 0;
  padding: 34px 20px 8px 32px;

  .title();

  @media (min-width: @tablet) {
    .tablet-title();
  }

  @media (min-width: @desktop) {
    order: 2;
    z-index: 2;

    .desktop-title();
  }
}

.product__week {
  margin: 0;
  padding-left: 29px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: @green;
}

.product__properties {
  margin: 0;
  padding: 30px 41px 10px 30px;

  .product-properties();

  @media (min-width: @desktop) {
    width: 290px;
  }
}

.product__charact {
  margin-top: 20px;
  margin-left: 27px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;

  .product__prop {
    height: 30px;
    padding: 4px;
    width: 91px;
    border-bottom: 1px solid #e2e2e2;
  }

  .product__value {
    width: 160px;
    border-bottom: 1px solid #e2e2e2;
  }
}

.product__logo {
  padding: 28px 30px;

  @media (min-width: @tablet) {
    position: absolute;
    left: 334px;
    top: 0;
  }

  @media (min-width: @desktop) {
    left: 340px;
    top: -100px;
    width: 525px;
    height: 635px;
    z-index: 1;
  }
}

.product__buy {
  margin: 0 auto;
  width: 260px;

  .product__price {
    margin: 0;
    padding-bottom: 28px;

    .product-price();
  }
}
