.review {
  .review__body {
    margin: 0;
    margin-bottom: 26px;
    line-height: 30px;

    .product-properties();
  }

  .review__cust {
    margin: 0;
    margin-bottom: 2px;

    .review-cust();
  }

  .review__cust-email {
    margin: 0;
    margin-bottom: 30px;

    .review-cust-email();
  }
}
