.site-list {
  .ls-none();

  @media (min-width: @tablet) {
    width: 475px;
    display: flex;
    order: 3;
  }

  @media (min-width: @desktop) {
    flex-wrap: wrap;
  }
}

.site-list__item {
  padding: 27px 20px 27px 80px;
  box-sizing: border-box;
  min-height: 79px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  a {
    text-decoration: none;
    color: @black;
  }

  @media (min-width: @desktop) {
    width: 236px;
    padding-left: 10px;
  }
}

.site-list__link {
  @media (min-width: @tablet) {
    display: none;
  }
}

.site-list__item--hidden {
  @media (min-width: 100px) {
    display: none;
  }

  @media (min-width: @desktop) {
    display: block;
  }
}
