.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .ls-none();
  padding: 13px 45px 8px;
  background-color: inherit;

  @media (min-width: @tablet) {
    width: 33%;
    box-sizing: border-box;
    padding: 0;
  }

  @media (min-width: @desktop) {
    width: 22%;
  }
}

.social-list__item {
  width: 60px;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  //
  // @media (min-width: @tablet) {
  //   width: 10%;
  // }
}

.social__icon {
  width: 21px;
  height: 29px;
}

.social-list__link:hover .social__icon {
  fill: @green--dark-hover;
}

.social-list__link:active .social__icon {
  fill: rgba(70, 193, 174, 0.3);
}
