@white: #ffffff;
@green: #63d1bb;
@green--dark: #62d1ba;
@green--darkest: #56c3b2;
@grey-text: #444444;
@popup-grey: #ececec;
@black: #000000;
@grey--light: #f1f1f1;
@default-font: "Open-sans", "Arial", sans-serif;
