@white: #ffffff;
@white-30: rgba(255, 255, 255, 0.3);
@white-90: rgba(255, 255, 255, 0.9);
@green: #63d1bb;
@green-30: rgba(99, 209, 187, 0.3);
@green--dark: #62d1ba;
@green--darkest: #56c3b2;
@green--dark-hover: #46c1ae;
@black--svg: #231F20;
@black--shadow: rgba(0, 0, 0, 0.1);
@black--active: rgba(0, 0, 0, 0.3);
@black--hover: rgba(0, 0, 0, 0.6);
@black--popup-shadow: rgba(0, 1, 1, 0.25);
@green--light-hover: #59d5bc;
@grey--text: #444444;
@grey--text-30: rgba(68, 68, 68, 0.3);
@grey--text-10: rgba(68, 68, 68, 0.1);
@black: #000000;
@grey--light: #f1f1f1;
@grey: #ececec;
@grey--lightest: #f9f9f9;
@default-font: "Open-sans", "Arial", sans-serif;
@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet: 768px;
@desktop: 1150px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
